name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: Ensure exact formating
      run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then echo "Format needed" && exit 1; fi

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest

    - name: Test
      run: go test -v ./...
